.main_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .list_item {
    color: white;
    width: 90%;
    max-width: 600px;
    height: 70px;
    border-radius: 35px;
    box-shadow: 0px 0px 5px 1px orange, 0px 0px 15px 1px yellow;
    display: flex;
    flex-direction: row;
    background-color: rgb(55, 12, 79);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    .option_letter {
      height: 100%;
      aspect-ratio: 1;
      display: flex;
      background-color: rgb(37, 17, 62);
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 5px 1px yellow;
      border-radius: 50%;
      font-size: 2em;
    }
    .option_text {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.25em 0.5em;
    }
    &:hover {
      box-shadow: 0px 0px 2px 1px orange, 0px 0px 5px 1px yellow;
      filter: brightness(1.5);
      transform: scale(1.02);
      transition: all 0.3s ease-in-out;
    }
  }
}
