.main_container {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px 0px #191d32;
  border-radius: 30px;
  padding: 2em 1em;
  gap: 1em;
  flex-direction: column;

  .header_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    .image_container {
      position: relative;
      padding: 1em;
      box-shadow: 0px 0px 10px 0px rgb(21, 24, 25);
      border-radius: 50%;
      overflow: hidden;
      width: 60px;
      height: 60px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      img {
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        filter: brightness(1.1);
        box-shadow: 0px 0px 2px 0px rgb(21, 24, 25);
        transition: all 0.3s ease-in-out;
        img {
          transform: scale(0.9);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
