@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #0b0b24;
  --background-end-rgb: #0a192f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #0b0b24;
    --background-end-rgb: #0a192f;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0b0b24;
  background: radial-gradient(
    at center center,
    var(--background-start-rgb),
    var(--background-end-rgb)
  );
}

body::-webkit-scrollbar {
  display: flexbox;
}

