.main_container {
  .wrapper {
    .project_information {
      width: 100%;
    }
    .editor {
      .wrapper_class {
        border: 1px solid #ccc;
      }
      .editor_class {
        background-color: white;
        min-height: 300px;
        padding: 1rem;
        border: 1px solid #ccc;
      }
      .toolbar_class {
        border: 1px solid #ccc;
      }
    }
  }
}
