.main_container {
  padding: 1em;
  .wrapper {
    background-color: #e9fcef;
    box-shadow: 0px 0px 3px 0px black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .filter_section {
      .filter_section_content {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }
}
