.main_container {
  height: 100%;
  height: 100%;
  color: white;
  padding: 1em;
  box-shadow: -5px 0 5px -5px #ffffff, 5px 0 5px -5px #ffffff;
  .list {
    .list_item {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: all 0.3s ease-in-out;
        background-color: #fab4a2;
      }
    }
  }
}
