.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    z-index: 10;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: darkorange;
    
    width: 100%;
    .word {
      margin: 5px min(2vw, 16px);
      display: inline-block;
      cursor: grab;
      &:hover {
        color: darkgreen;
        text-shadow: 2px 5px orange;
        animation-play-state: paused;
      }
    }
    .word1 {
      animation: wordAround1 infinite 10s;
    }
    .word2 {
      animation: wordAround2 infinite 10s;
    }
    .word3 {
      animation: wordAround3 infinite 10s;
    }
  }
  .content_container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 100px;
    margin-top: 3em;
    @media (min-width: 992px) {
      flex-direction: row;
      gap: 0px;
    }
    .right_content {
      .image_container {
        margin-top: -20px;
        animation: gazingAround1 infinite 50s;
      }
    }
    .left_content {
      .image_container {
        animation: gazingAround2 infinite 50s;
      }
    }
    .left_content,
    .right_content {
      .image_container {
        width: 360px;
        height: 270px;
        @media (min-width: 992px) {
          width: 420px;
          height: 315px;
        }
        @media (min-width: 1200px) {
          width: 560px;
          height: 420px;
        }
        position: relative;
        img {
          position: absolute;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          top: 0;
          left: 0;
          width: 100%;
          height: 80%;
          box-shadow: 0px 0px 5px 1px darkgrey;
          cursor: pointer;
          z-index: 11;
          &:hover {
            filter: brightness(1.2);
            animation-play-state: paused;
          }
        }
        .title_container {
          width: 100%;
          height: 20%;
          position: absolute;
          top: 80%;
          z-index: 10;
          box-shadow: 0px 0px 5px 1px darkgrey;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: #212529;
          display: flex;
          justify-content: center;
          align-items: center;
          h2 {
            margin: 0px;
            text-shadow: 1px 2px crimson;
          }
        }
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          top: 1em;
          left: 1em;
          position: absolute;
          box-shadow: 0px 0px 5px 1px darkgrey;
          background-color: Crimson;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
        }
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          top: -1em;
          left: -1em;
          position: absolute;
          box-shadow: 0px 0px 5px 1px darkgrey;
          background-color: darkorange;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          &::before {
            top: 1.5em;
            left: 1.5em;
            transition: all 0.3s ease-in-out;
          }
          &::after {
            top: -1.5em;
            left: -1.5em;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes gazingAround1 {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(20px, 25px);
  }
  20% {
    transform: translate(-25px, -20px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 0px);
  }
  60% {
    transform: translate(0px, 40px);
  }
  70% {
    transform: translate(-20px, 25px);
  }
  80% {
    transform: translate(10px, 20px);
  }
  90% {
    transform: translate(-25px, -15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes gazingAround2 {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(0px, 40px);
  }
  20% {
    transform: translate(-20px, 10px);
  }
  30% {
    transform: translate(10px, 20px);
  }
  40% {
    transform: translate(-15px, -25px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(20px, 28px);
  }
  80% {
    transform: translate(-10px, -10px);
  }
  90% {
    transform: translate(10px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes wordAround1 {
  0% {
    transform: translate(0px, 0px);
  }

  33% {
    transform: translate(-7px, -6px);
  }

  67% {
    transform: translate(6px, 4px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes wordAround2 {
  0% {
    transform: translate(0px, 0px);
  }

  33% {
    transform: translate(5px, 5px);
  }

  67% {
    transform: translate(-4px, -6px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes wordAround3 {
  0% {
    transform: translate(0px, 0px);
  }

  33% {
    transform: translate(-8px, 5px);
  }

  67% {
    transform: translate(2px, -5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes wordAround4 {
  0% {
    transform: translate(0px, 0px);
  }

  33% {
    transform: translate(-9px, -3px);
  }

  67% {
    transform: translate(5px, 4px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes wordAround5 {
  0% {
    transform: translate(0px, 0px);
  }

  33% {
    transform: translate(-2px, 5px);
  }

  67% {
    transform: translate(5px, -3px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
