.main_container {
  padding: 0.5em 1em;
  border: 3px solid rgb(209, 209, 209);
  border-radius: 30px;
  position: relative;
  bottom: 27px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  line-height: 2em;
  background-color: #191d32;
  color: white;
  z-index: 2;
  @media (min-width: 767px) {
    padding: 0.5em 2em;
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    .col {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

